.Footer {
  max-width: 1200px;
  background-color: #ccc;
  padding: 10px 30px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 55vh;
}

.Footer h3 {
  color: #03377f;
}
.FooterList li {
  font-family: serif, Cambria, Cochin, Georgia, Times, "Times New Roman";
  font-size: 10pt;
  list-style: none;
  display: flex;
  align-items: center;
  /* text-align: center; */
}
.FooterList li img {
  width: 20px;
  border-radius: 50%;
  /* position: relative; */
  /* top: 3px; */
}
@media (max-width: 450px) {
  .Footer {
    flex-direction: column;
  }
}
